@import "@/common/styles/colors"

.game-wrapper
  display: flex
  flex-direction: column
  justify-content: center
  margin-top: 2.5rem
  align-items: center

.title-area
  display: flex

.creation-area
  margin: 15vh
  display: flex
  flex-wrap: wrap
  gap: 16vw

.start-btn
  margin-top: 1rem
  width: 100%
  padding: 0.6rem
  color: $white
  font-size: 22pt
  font-weight: 600
  cursor: pointer
  transition: 0.2s
  display: flex
  justify-content: center
  align-items: center
  gap: 1rem

  &:hover
    transform: scale(1.05) translateY(-0.2rem) rotate(-0.4deg)