@import "@/common/styles/colors"

.page-title
  display: flex
  align-items: center
  background-color: $background
  padding: 1rem 1.5rem
  backdrop-filter: blur(10px)
  border: 2px solid $border
  border-radius: 0.8rem
  gap: 1rem
  user-select: none

  svg
    font-size: 24pt
    color: $white

  h1
    margin: 0
    color: $white
    font-size: 28pt