@import "@/common/styles/colors"

.action-card
  display: flex
  flex-direction: column
  padding: 2rem 0
  width: 13rem
  text-align: center
  gap: 2rem
  transition: all 0.3s ease-in-out
  cursor: pointer
  user-select: none

  svg
    font-size: 52pt
    color: $white

  h1
    margin: 0
    color: $white

  &:hover
    transform: scale(1.1) translate(0, -0.5rem) rotate(0.5deg)